* {
  margin: 0;
  padding: 0;
}

#navigation {
  background-image: linear-gradient(dodgerblue, rgb(1, 62, 122));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navigation > ul {
  display: flex;
  margin-right: 50px;
}
#navigation > ul > li {
  list-style: none;
  margin: 0px 5px;
  margin-left: -5px;
  padding: 15px 0px;
}
#navigation > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-right: 1px solid white;
  padding: 16px 20px;
  transition: 0.5s;
}
#navigation > ul > li:first-child > a {
  border-left: 1px solid white;
}
#navigation > ul > li:hover > a {
  background-color: rgb(3, 87, 172);
}
.logo > h2 {
  color: white;
  margin-left: 80px;
}
.logoFirstLetter {
  color: yellow;
  font-size: 25px;
}

/* dropdown menu code start */

.dropdownMenu {
  opacity: 0;
  visibility: hidden;
  background-color: dodgerblue;
  text-align: center;
  margin-top: 15px;
  width: 190px;
  position: absolute;
  transition: 0.5s;
  box-shadow: 10px 10px 8px black;
  transform: scaleY(0);
  transform-origin: top;
}
.dropdownMenu > li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid white;
}
.dropdownMenu > li:hover {
  background-color: rgb(3, 87, 172);
}
.dropdownMenu > li:first-child {
  border-top: 1px solid white;
}
.dropdownMenu > li > a {
  text-decoration: none;
  color: white;
}
#navigation > ul > li:hover > .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
/* hero section */

.main-header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.397)),
    url('./image/web\ header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 80vh;
}
.header-container {
  padding-top: 100px;
}
.header-container h1 {
  background-color: dodgerblue;
  width: 500px;
  margin: 20px auto;
  padding: 15px 25px;
  color: white;
  font-size: 50px;
  border-radius: 10px;
}
.header-container button {
  font-size: 22px;
  padding: 15px 25px;
  margin-top: 20px;
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 10px 5px;
  cursor: pointer;
  border: 3px solid green;
  transition: 1s;
}
.header-container button:hover {
  background-color: rgba(0, 0, 255, 0);
}
.header-container h4 {
  font-size: 25px;
  color: #141313fc;
}
.header-container h5 {
  font-size: 25px;
  color: #141313fc;
  margin-bottom: 50px;
}
.socalicon a {
  color: white;
  text-decoration: none;
}
.socalicon a i {
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 1.6;
  margin: 10px 5px;
  transition: 1s;
  background-color: rgba(0, 128, 0, 0);
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
}
.socalicon a i:hover {
  background-color: #1e8fff81;
  border: 2px solid green;
  transform: rotate(360deg);
}
/* first-section */
.section {
  background-color: beige;
}

#First-section {
  width: 1000px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
/* box1 */
.box-1 {
  width: 300px;
  text-align: center;
  padding: 30px 10px;
  transition: 0.5s;
}
.box-1 i {
  font-size: 50px;
}
.box-1 h2 {
  margin: 15px 0;
}
.box-1:hover {
  box-shadow: 3px 3px 10px gray;
}

/* second section */
.heading h1 {
  font-size: 50px;
  text-align: center;
  position: relative;
}
.heading h1::after {
  content: '';
  top: 57px;
  left: 850px;
  width: 150px;
  height: 5px;
  position: absolute;
  background-color: rgb(136, 32, 32);
}
.smart-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: auto;
  padding: 50px 0;
}
.content {
  width: 500px;
}
.content h2 {
  margin: 20px 0;
}
.content h4 {
  color: rgb(136, 32, 32);
}
.content a {
  text-decoration: none;
  background-color: rgb(136, 32, 32);
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 5px;
  transition: 0.5s;
}
.content a:hover {
  background-color: rgb(88, 17, 17);
}
/* third section */
#third-section {
  background-color: #fafafa;
}
.services-area-title {
  text-align: center;
  padding: 40px 0 60px 0;
}
.services-area-title h2 {
  font-size: 40px;
}
.each-servics-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 60px;
}
.services-area {
  width: 1000px;
  margin: auto;
}
.each-servies {
  background-color: lightblue;
  text-align: center;
  padding: 30px 0;
  transition: 0.5s;
}
.each-servies:hover {
  background-color: #b8e6f5;
  cursor: pointer;
}

.each-servies i {
  font-size: 40px;
  color: #581111;
}
.each-servies h3 {
  margin: 15px 0;
}
